{% set type = data.type %}

{% if 'text' == type or 'html' == type %}
    {{ data.content|length > 25 ? data.content|slice(0, 25) ~ '...' : data.content  }}
{% elseif 'image' == type %}
    <img src="{{ data.image.path|imagine_filter(filter|default('sylius_admin_product_thumbnail_heighten_grid')) }}" class="ui bordered image"/>
{% endif %}